NODE_ENV=development
PORT=4000
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/umkm_food?schema=public"
JWT_SECRET="ganti-dengan-secret-minimal-32-karakter-acak"
JWT_EXPIRES_IN=7d
FRONTEND_URL=http://localhost:3000
